.social-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.social-icon-div {
  padding: 6px 18px;
  cursor: pointer;
  margin: 6px;
}

.social-icon {
  height: 50px;
}

.archive-logo {
  padding-bottom: 15px;
}

@media only screen and (max-width: 720px) {
  .social-contact {
    flex-wrap: wrap;
  }
  .social-icon-div {
    padding: 6px;
    cursor: pointer;
    margin: 6px;
  }

  .social-icon {
    height: 30px;
  }
}
