.skills-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-card {
  width: max-content;
  padding: 8px 16px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  margin: 6px;
  border-radius: 8px;
}

.skill-icon {
  height: 80px;
  width: 80px;
}
.skill-name {
  font-size: 18px;
}

@media only screen and (max-width: 720px) {
  .skill-card {
    flex-grow: 1;
    flex-basis: 0;
    width: max-content;
    height: 100px;
    margin: 3px;
  }
  .skill-icon {
    height: 50px;
    width: 50px;
  }
}
