.skills {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.skills-section {
  display: flex;
  justify-content: space-between;
  margin: 12px 0px;
}

.skills-section-title {
  font-size: 20px;
  font-weight: 600;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media only screen and (max-width: 1200px) {
  .skills-list {
    max-width: 100%;
    justify-content: flex-start;
  }
  .skills-list {
    justify-self: center;
  }
}
@media only screen and (max-width: 720px) {
  .skills {
    margin: 0 8%;
  }
  .skills-list {
    max-width: 100%;
    justify-content: center;
  }
  .skills-section {
    flex-direction: column;
  }
  .skills-list {
    justify-self: center;
  }
}
