.mobile {
  background-color: white;
  height: 30vh;
  width: 70vw;
  position: fixed;
  padding: 18px 12px;
  display: flex;
  flex-direction: column;
  z-index: 10;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
  border-radius: 10px;
  margin-top: 200px;
}

.close-icon {
  display: flex;
  position: fixed;
  justify-content: flex-end;
  font-size: 24px;
  z-index: 100;
}

.mobile-options {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 24px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mobile-option {
  font-size: 24px;
  margin: 12px 0px;
  display: flex;
}

.mobile-option a {
  text-decoration: none;
  color: black;
  display: flex;
}

.hover-underline-animation {
  background: linear-gradient(to right, transparent, transparent),
    linear-gradient(
      to right,
      #30a8a8,
      #00a3be,
      #008ee9,
      #007cef,
      #026ce8,
      #165cdf,
      #2e3fc4,
      #3233b3,
      #3326a2,
      #331992
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.hover-underline-animation:hover {
  background-size: 0 3px, 100% 3px;
}
