.header {
  display: flex;
  align-items: flex-start;
}

.header-box {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 36px 12px;
  position: relative;
  align-items: center;
}
.menu {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.menu-icon {
  font-size: 24px;
}

.mobile-menu {
  position: absolute;
  top: 30px;
  right: 30px;
}
.web-menu {
  display: flex;
}

.logo {
  display: flex;
  position: absolute;
  top: 40px;
  font-size: 45px;
  color: #0043d4;
  font-weight: 800;
  font-style: italic;
  font-family: 'LeviReBrushed', sans-serif;
}

.logo span {
  color: #37dad2;
}

@media only screen and (max-width: 720px) {
  .menu {
    justify-content: center;
  }
  .logo {
    font-size: 30px;
    top: 20px;
  }
  .mobile-menu {
    display: flex;
  }
  .web-menu {
    display: none;
  }
  .logo {
    font-size: 40px;
  }
}
