@font-face {
  font-family: 'LeviReBrushed';
  src: url(../../../fonts/LeviReBrushed.ttf) format('truetype');
}
@font-face {
  font-family: 'Pacifico';
  src: url(../../../fonts/Pacifico.ttf) format('truetype');
}
@font-face {
  font-family: 'BrushKing';
  src: local('BrushKing'),
    url(../../../fonts/Brush\ King.otf) format('opentype');
}
.about {
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  height: 800px;
}

.about-top {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  align-items: center;
}

.picture {
  height: 420px;
}
.about-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 60px;
  width: 600px;
}
.info-name {
  color: black;
  font-weight: 900;
  font-size: 100px;
  font-family: 'LeviReBrushed';
}
.info-desc {
  color: black;
  font-weight: 300;
  font-size: 40px;
  font-family: 'Pacifico';
}

.about-photo {
  width: 600px;
  height: 500px;
}

@media only screen and (max-width: 1480px) {
  .about {
    height: 700px;
  }
  .about-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-info {
    display: flex;
    justify-content: center;
  }
  .about-photo {
    width: 400px;
    height: 400px;
  }
  .picture {
    height: 280px;
  }
  .about-info {
    font-size: 40px;
    flex-direction: column;
    align-items: center;
  }
  .info-name {
    font-size: 70px;
  }
  .info-desc {
    font-size: 25px;
  }
}

@media only screen and (max-width: 720px) {
  .about {
    height: 600px;
  }
  .about-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-photo {
    width: 300px;
    height: 300px;
  }
  .about-info {
    font-size: 40px;
    width: 300px;
    display: flex;
    justify-content: center;
  }
  .picture {
    height: 280px;
  }
  .about-info {
    font-size: 18px;
  }
  .info-name {
    font-size: 50px;
  }
}
