.about {
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
}

.about-top {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  align-items: center;
}

.picture {
  height: 420px;
}
.about-info {
  font-size: 60px;
  width: 600px;
}
.info-name {
  color: #0043d4;
  font-weight: 900;
  font-style: italic;
}
.about-photo {
  width: 600px;
  height: 500px;
}

@media only screen and (max-width: 720px) {
  .about-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-info {
  font-size: 50px;
}
  .picture {
    height: 280px;
  }
  .about-info {
    font-size: 18px;
  }
  .info-name {
    font-size: 26px;
  }
}
